# Base
numpy==2.4.6
pandas==3.0.6
scipy==1.17.1
matplotlib==3.11.2
scikit-learn==1.9.1

# DL
torch==2.14.0
torchvision==0.29.0
lightning==2.6.6
monai==1.6.0

# Images
pillow==12.3.0
SimpleITK==2.5.6
albumentations==2.0.8
opencv-python-headless==5.0.0.93

# Experiment tracking and optimization
mlflow==3.16.1
optuna==5.0.0

# Config et utilitaires
PyYAML==6.0.3
tqdm==4.70.1

# Notebook
ipykernel==7.3.0
